@media only screen and (min-width: 1200px)
{
  .experience_container
  {
    margin-top: 300;
    margin-left: 200;
    margin-right:200;
  }
  .experience_title
  {
    font-size: 50px;
    font-weight:bold;
  }

  .vertical_line_experience {
    border-left: 6px solid #cc0000;
    height: 1050px;
    position:absolute;
    left: 20%;
  }
  .experience_job_container
  {
    padding-left:30;
    padding-right:100;
    padding-top: 50;
  }
  .experience_image
  {
    width:150px;
  }
  .experience_job_title
  {
    font-size: 20px;
    font-weight: bold;
  }
  .experience_job_description
  {
    font-size: 15px;
    color:grey;
  }
}

@media only screen and (max-width: 1600px) {
  .experience_container
  {
    margin-top: 300;
    margin-left: 150;
    margin-right:150;
  }
  .experience_title
  {
    font-size: 50px;
    font-weight:bold;
  }

  .vertical_line_experience {
    border-left: 6px solid #cc0000;
    height: 1050px;
    position:absolute;
  }
  .experience_job_container
  {
    padding-left:30;
    padding-right:100;
    padding-top: 50;
  }
  .experience_image
  {
    width:150px;
  }
  .experience_job_title
  {
    font-size: 20px;
    font-weight: bold;
  }
  .experience_job_description
  {
    font-size: 15px;
    color:grey;
  }
}

@media only screen and (max-width: 800px) {
  .experience_container
  {
    margin-top: 300;
    margin-left: 10;
    margin-right:10;
  }
  .experience_title
  {
    font-size: 50px;
    font-weight:bold;
  }

  .vertical_line_experience {
    border-left: 6px solid #cc0000;
    height: 1350px;
    position:absolute;
  }
  .experience_job_container
  {
    padding-left:30;
    padding-right:100;
    padding-top: 50;
  }
  .experience_image
  {
    width:150px;
  }
  .experience_job_title
  {
    font-size: 20px;
    font-weight: bold;
  }
  .experience_job_description
  {
    font-size: 15px;
    color:grey;
  }
}
