.hero_container
{
  margin-top: 300;
}

.hero_container_text
{
  margin-left: 100;
  /*text-align: center;*/
  width:500px;
}

@media only screen and (max-width: 600px) {
    .hero_container_text {
      margin-left: 50;
      margin-right: 50;
      width:360px;
    }
}
@media only screen and (min-width: 1500px) {
    .hero_container_text {
      width:700px;
    }
}
.hero_image_container
{
  text-align: center;
  position: absolute;
  right: 80px;
  width: 500px;
  margin-top: -50;
}
@media only screen and (max-width: 1200px) {
    .hero_image_container {
      display: none;
    }
}


.greeting_text
{
  font-size: 30px;
}
.name_text
{
  font-size: 70px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .name_text {
      font-size: 40px;

    }
}
.hero_description_text
{
  font-size: 20px;
}
.hero_title_tag
{
  font-weight: bold;
  color:#cc0000;
}

.professional_media_account_logo
{
  font-size: 30px;
}

.hero_img
{
  margin-left: 100;
  margin-top: 300;
}
