@media only screen and (min-width: 1200px) {

.triangle-left {
  position:absolute;
  right:0px;
	width: 0;
	height: 0;
  margin-top: 0;
	border-top: 550px solid transparent;
	border-right: 600px solid #cc0000;
	border-bottom: 550px solid transparent;
  opacity: 0.5;
}
}
@media only screen and (max-width: 1400px) {
  .triangle-left {
    position:absolute;
    right:0px;
  	width: 0;
  	height: 0;
    margin-top: 100;
  	border-top: 450px solid transparent;
  	border-right: 500px solid #cc0000;
  	border-bottom: 450px solid transparent;
    opacity: 0.5;
  }
}
@media only screen and (max-width: 800px) {
  .triangle-left {
    position:absolute;
    right:0px;
    width: 0;
    height: 0;
    margin-top: 300;
    border-top: 350px solid transparent;
    border-right: 400px solid #cc0000;
    border-bottom: 350px solid transparent;
    opacity: 0.5;
  }
}
.circle1
{
  position:absolute;
  margin-top: 400;
  margin-left: -50;
  width:200px;
}

.circle2
{
  position:absolute;
  margin-top: 1300;
  right:0px;
  width:200px;

}
